<div class="home-container">
  <div class="home-content">
    <h1>Bienvenidos a Conociendo <span>Juntos</span></h1>
    <p class="lead">Descubre los mejores destinos y vive la experiencia única en Orizaba, lleno de grandes atractivos turisticos, excelente clima, un ambiente agradable, rica gastronomia y demas.</p>
    <button class="cta">Explora Ahora</button>
  </div>

  <div class="home-carousel">
    <img [src]="imagenes[imagenActual]" alt="Imagen turística" />
    <div class="carousel-controls">
      <button (click)="anterior()">&#10094;</button>
      <button (click)="siguiente()">&#10095;</button>
    </div>
  </div>
</div>
